html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

/* barva žlutá = #fce73e
barva červená = #e73d4a
barva zelená = #067d85
barva fialová = #81399f */

body {
  background-color: #e73d4a;
}

h1 {
  font-family: Kristi;
  font-size: 5rem;
  font-weight: lighter;
  margin-left: 43%;
  color: #fce73e;
}

p {
  font-family: sans-serif;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.8;
  width: 120vmin;
  height: 100vmin;
  margin: 0 auto;
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 40px;
  color: #e73d4a;
  background-color: #fce73e;
}
