html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

/* barva žlutá = #fce73e
barva červená = #e73d4a
barva zelená = #067d85
barva fialová = #81399f */

body {
  padding: 0;
  background-image: url(pozadi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.685);
  border-radius: 51%;
  margin-top: 10px;
  margin-left: 60px;
}

h1 {
  font-family: Kristi;
  font-size: 3rem;
  font-weight: lighter;
  color: #fce73e;
  margin-left: 110px;
  margin-top: 60px;
}

p {
  font-family: sans-serif;
  text-align: center;
  font-size: 1rem;
  line-height: 1.8;
  width: 60vmin;
  height: 35vmin;
  padding-top: 5px;
  padding-left: 45px;
  padding-right: 45px;
  color: #fce73e;
}

.navigation {
  display: flex;
  justify-content: flex-end;
}

.navigation a {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  font-family: sans-serif;
  width: 5rem;
  height: 5rem;
  color: #fce73e;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  background-color: #067d85;
  border-radius: 50%;
}

.navigation__item {
  align-items: center;
  margin-left: 3px;
}

.profile {
  font-family: sans-serif;
  text-align: center;
  font-size: 1rem;
  line-height: 1.8;
  width: 60vmin;
  height: 60vmin;
  padding-top: 120px;
  padding-left: 45px;
  padding-right: 45px;
  color: #fce73e;
}
