html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

/* barva žlutá = #fce73e
barva červená = #e73d4a
barva zelená = #067d85
barva fialová = #81399f */

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #fce73e;
}

.main-page {
  background-image: url(img/pozadi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}

.navigation a {
  color: #fce73e;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: #067d85;
  margin-top: 2rem;
  margin-right: 1.5rem;
  padding: 3rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.12rem;
  border-radius: 50%;
}

.navigation a:hover,
.navigation a:focus {
  color: #e73d4a;
}

section {
  background-color: rgba(0, 0, 0, 0.685);
  border-radius: 50%;
  padding: 1rem 2rem;
  margin: 5rem 2rem;
  width: 28rem;
  height: 28rem;
  text-align: center;
}

h1 {
  font-family: Kristi;
  font-size: 5rem;
  font-weight: lighter;
  margin-top: 0.7rem;
  margin-bottom: 0;
}

h1::first-letter {
  font-size: 7rem;
}

p,
h3,
h4 {
  line-height: 1.7rem;
}

.profile {
  background-color: #fce73e;
}

.profile__about {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.profile__heading {
  font-family: Kristi;
  font-size: 6rem;
  font-weight: lighter;
  text-align: center;
  color: #e73d4a;
}

.profile__text {
  text-align: justify;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.8;
  width: 70vw;
  min-height: 70vh;
  margin: 0 auto;
  padding: 3rem 4rem;
  background-color: #e73d4a;
  border-radius: 5rem 0;
}

.icon-github {
  margin: 0 42%;
}

/*stylování pro mobily */

@media (max-width: 880px) {
  .navigation {
    display: flex;
    justify-content: flex-start;
    margin-left: 1.5rem;
  }
}
/* @media (min-width: 601px) and (max-width: 750px) {
  .main-page {
    background-size: contain;
    height: 80vh;
  }
} */
