html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Luckiest Guy';
  color: rgb(57, 7, 77);
  font-size: 4rem;
}
